@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3200 -Redacted- St<br />
    Pawnee, IN 15010<br />
    <abbr title="Phhhh">P:</abbr>
    385.374.5837
</address>

<address>
    <strong>Support:</strong>   <a href="http://nochucknorris.com/">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.youtube.com/watch?v=veBP091XBFc">Marketing@example.com</a>
</address>