@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Buttface Way<br />
    Poop, WA 98052-454165<br />
    <abbr title="Phhhh">P:</abbr>
    425.555.pbpbpbpbpbpb
</address>

<address>
    <strong>Support:</strong>   <a href="http://nochucknorris.com/">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.youtube.com/watch?v=veBP091XBFc">Marketing@example.com</a>
</address>