@model CSC205_Madeira.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password?</h2>
<h4>Reset it here!</h4><hr />
<p>Email Sent!</p>
<form>
    Email:<br />
<input class="logininput" type="text" name="emale"><br>
    Phone Number:<br />
<input class="logininput" type="number" name="lame"><br>
</form>
@*@Html.ActionLink("Send Password Email", "ForgotPassword2", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })<br />*@
@Html.ActionLink("Return Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })