
@{
    ViewBag.Title = "Resgister";
}

<h2>Register</h2>
<form>
    <div>
    Email: <input type="text" name="emale"><br>
    Password: <input type="text" name="lame"><br>
    Confirm Password: <input type="text" name="lame"><br>
        <select name="question">
            <option value="color">What is your Favorite Color</option>
            <option value="teacher">What was the first name of your third grade teacher</option>
            <option value="pet">What was the name of your first pet</option>
            <option value="swallow">What is the air-speed-velocity of an unladen swallow</option>
            <option value="car">What was the make of your first car</option>
            <option value="quest">What is your quest</option>
            <option value="prom">Who did you go to prom with</option>
        </select><br>
     Answer: <input type="text" name="lame"><br>
    </div>
    <div>
    First Name: <input type="text" name="lame"><br>
    Last Name: <input type="text" name="lame"><br>
    Zipcode: <input type="text" name="lame"><br>
    Date of Birth: <input type="date" name="lame"><br>
    Family ID: <input type="text" name="lame"><br>
    Relationship: <input type="text" name="lame"><br>
    </div>
    <a class="btn btn-default" href="~/House">Signup!</a>
</form>

