@{
    ViewBag.Title = "Welcome Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome Home</title>
</head>
<body>
    <a class="btn btn-default" href="~/Family">View Families</a>
    <a class="btn btn-default" href="~/Person">View Peoples</a>
</body>
</html>
