@{
    ViewBag.Title = "Welcome Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome Home</title>
</head>
<body>
    <div>
        <h2>Welcome Home!</h2>
    </div>
    <div>
    <a class="btn btn-default" href="~/Family">View Families</a><br>
    <a class="btn btn-default" href="~/Person">View Peoples</a>
    </div>
</body>
</html>
