@{
    ViewBag.Title = "Welcome Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome Home</title>
</head>
<body>
    <div>
        <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Welcome Home!</h1>
    </div>
    <div>
    <a class="btn btn-default" id="familybutton"style="margin-right:20px" href="~/Family">View Families</a>
    <a class="btn btn-default" id="personbutton" href="~/Person">View Peoples</a>
    </div>
</body>
</html>
